*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  width: 100%;
  min-height: 100vh;
  background: #1c1e27;
  display: flex;
}

img{
  display: block;
  cursor: pointer;
}

.container{
  margin: auto;
  width: 100%;
  max-width: 540px;
  padding: 30px 0 0 0;
}

.container .selected{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: 4px solid lightblue;
}

.container .img-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0 0 0;
}

.container .img-container img{
  width: 162px;
  height: 104px;
  margin: 10px 0px;
}
